body {
    margin: 10px;
    padding-top: 30px;
    font-family: "Times New Roman", "FreeSerif", Times, serif;
    font-size: large;
    background: repeat url(assets/wood.bmp);
    overflow-x: hidden;
    background-color: #5F2900;
}
div {
    display: block;
}
.wrapper {
    width: calc(100vw - 20px);
    float: left;
    box-sizing: border-box;
}
.container {
    border: 3px double black;
    float: left;
    padding: 20px;
    margin: 10px;
    background: url(assets/banana.bmp) repeat;
    box-sizing: border-box;
    width: 30%;
}
.rightbar, .leftbar {
    background: url(assets/wood.jpg);
    min-height: 300px;
    border-width: 5px;
    border-style: solid;
    border-color: burlywood maroon maroon burlywood;
    box-shadow: 2px 2px 5px black;
    color:ivory;
}
.leftbar {
    position: fixed;
    width: 100%;
    left: -10px;
    top: -10px;
    min-height: 50px;
    height: 50px;
}

#cont {
    position: relative;
    min-height: 500px;
    box-shadow: 2px 2px 5px black;
    width: 70%;
}
.cheese {
    background: 66% -14% / 50px 50px no-repeat url(assets/fire.gif);
    width: 60px;
    vertical-align: bottom;
}
#main {
    display: flex;
    align-items: flex-start;
}

.noborder {
    border: none;
    background: none;
}
#top {
    text-align: center;
}
#topgradient {
    background-image: linear-gradient(to top, darkorange, gold);
    background-clip: text;
    color: transparent;
    overflow: visible;
}
#topshadow {
    color: transparent;
    text-shadow: 1px 2px 5px black;
    display: inline-block;
    width: 0;
    overflow: visible;
}
#top sup {
    color: sienna;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    text-shadow: 0 1px 2px black;
}
#top img {
    display: inline;
    transform: scale(0.7);
    transform-origin: 50% 100%;
    margin: 0 -10px 0;
}
#top img.flip {
    transform: scale(-0.7,0.7);
}
h1 {
    display: inline;
    font-style: italic;
    font-weight: bold;
    font-size: 36px;
    padding: 0;
    margin: 0;
}

.left {
    float: left;
}
.right {
    float: right;
    word-wrap: break-word;
}
.fadedown {
    mask-image: linear-gradient(to bottom, rgba(0,0,0,1), 80%, rgba(0,0,0,0));
    border: none !important;
}
.fadeleft {
    mask-image: linear-gradient(to left, rgba(0,0,0,1), 80%, rgba(0,0,0,0));
    border: none !important;
}
#nav {
    z-index: 3;
}
#nav ul {
    margin-left: -48px;
    margin-top: -6px;
}
#nav li {
    list-style: none;
    margin-bottom: 2px;
    margin-right: 10px;

    float: left;
}
#nav li * {
    position: relative;
    top: -3px;
    margin: 0;
    text-shadow: 0px 1px 3px black;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
#nav li a {
    color: yellow;
}
#nav li a:hover, #nav li a:focus, #nav li p {
    color: white;
}
#nav li a:active {
    color: red;
}


#cont img {
    margin-bottom: 10px;
    margin-left: 20px;
    border: double 3px brown;
    max-width: 50%;
}
hr {
    clear: both;
    color: brown;
}

h2 {
    margin-top: 10px;
}

.appbtn {
    display: inline-block;
    background: darkred;
    color:yellow;
    padding: 5px;
    text-decoration: none;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: medium;
    border-width: 5px;
    border-style: solid;
    border-color: burlywood black black burlywood;

}
.appbtn:hover, .appbtn:focus {
    background:crimson;
    color:white;
    border-color: white black black white;
}
.appbtn:active {
    background:crimson;
    color:white;
    border-color: black white white black;

}
.pconly {
    display: none;
}

@media only screen and (min-width: 768px) {
    body {
        padding-top: 0;
    }
    h1 {
        font-size: 48px;
    }
    #top img {
        transform: scale(1);
        margin: 0;
    }
    #top img.flip {
        transform: scale(-1,1);
    }
    .pconly {
        display: inherit;
    }
    span.pconly {
        display: inline;
    }
    .mobileonly {
        display: none;
    }

    .leftbar {
        max-width: 250px;
        position: unset;
        width: 30%;
        height: unset;
    }
    #nav ul {
        list-style-image: url('assets/arrow.gif');
        margin-left: -10px;
        margin-top: 0;
    }
    #nav li {
        list-style-image: url('assets/arrow.gif');
        float: none;
    }
    #nav li.new {
        list-style-image: url('assets/new.gif') !important;
    }

}
@media only screen and (max-width: 480px) {
    #main {
        flex-wrap: wrap;
    }
    .container, #cont {
        width: 100%;
    }

}
