:root {
    background: #5F2900 repeat url(assets/wood.bmp);
}

body {
    margin: 10px;
    padding-top: 30px;
    font-family: "Times New Roman", "FreeSerif", Times, serif;
    font-size: large;
    overflow-x: hidden;
}
div {
    display: block;
}
.wrapper {
    width: calc(100vw - 20px);
    float: left;
    box-sizing: border-box;
}
.container {
    border: 3px double black;
    float: left;
    padding: 20px;
    margin: 10px;
    background: #ffe8b9 url(assets/banana.bmp) repeat;
    box-sizing: border-box;
    width: 30%;
}
.rightbar li {   
    margin-bottom: 10px;
}
.rightbar, .leftbar {
    background: #A3642A url(assets/wood.jpg);
    min-height: 300px;
    border-width: 5px;
    border-style: solid;
    border-color: burlywood maroon maroon burlywood;
    box-shadow: 2px 2px 5px black;
    color:ivory;
    
    hr {
        clear: both;
        color: ivory;
    }
}
.leftbar {
    position: fixed;
    width: 100%;
    left: -10px;
    top: -10px;
    min-height: 50px;
    height: 50px;
}

#cont {
    position: relative;
    min-height: 500px;
    box-shadow: 2px 2px 5px black;
    width: 70%;
}
#main {
    display: flex;
    align-items: flex-start;
}

.noborder {
    border: none;
    background: none;
}
#top {
    text-align: center;
}
#top small {
    color: sienna;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    text-shadow: 0 1px 2px black;
    display: inline-block;
    transform: translateY(-6px);
    margin-top: 6px;
}
h1 {
    display: block;
    font-style: italic;
    font-weight: bold;
    font-size: 36px;
    margin: 0;
}
h1 span {
    filter: drop-shadow(1px 2px 3px black);

    background-image: linear-gradient(to top, darkorange, gold);
    text-decoration: underline solid darkorange 2px;
    background-clip: text;
    color: transparent;
    overflow: visible;
    padding: 0 3px;
}
h1::before, h1::after {
    content: "";
    display: inline-block;
    width: 60px;
    height: 67.5px;
    background: 50% 50% no-repeat url(assets/firecheese.gif);
    background-size: cover;
    vertical-align: bottom;
    transform-origin: 50% 100%;
}
h1::before { transform: scale(-0.7,0.7); }
h1::after  { transform: scale( 0.7,0.7); }

.left {
    float: left;
    word-wrap: break-word;
}
.right {
    float: right;
    word-wrap: break-word;
}
.playdatefilter {
    filter: contrast(0.7) sepia(0.1);
}
.pricetag {
    padding: 0px 5px;
    font-style: italic;
    font-weight: bold;
}
.free {
    color: green;
}
.gamebanner.pconly {
    margin-top: 12px;
    margin-bottom: 20px !important;
    float: left;
    word-wrap: break-word;
}
.gamebanner.mobileonly {
    margin-bottom: 0 !important;
    max-width: 100% !important;
    box-sizing: border-box;
}

.fadedown {
    mask-image: linear-gradient(to bottom, rgba(0,0,0,1), 80%, rgba(0,0,0,0));
    border: none !important;
}
.fadeleft {
    mask-image: linear-gradient(to left, rgba(0,0,0,1), 80%, rgba(0,0,0,0));
    border: none !important;
}
#nav {
    z-index: 3;
}
#nav ul {
    margin-left: -48px;
    margin-top: -6px;
}
#nav li {
    list-style: none;
    margin-bottom: 2px;
    margin-right: 10px;

    float: left;
}
#nav li * {
    position: relative;
    top: -3px;
    margin: 0;
    text-shadow: 0px 1px 3px black;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
:where(.leftbar, .rightbar) a {
    color: yellow;
}
:where(.leftbar, .rightbar) :is(a:hover, a:focus, p) {
    color: white;
}
:where(.leftbar, .rightbar) a:active {
    color: red;
}

#cont img {
    margin-bottom: 10px;
    border: double 3px brown;
    max-width: 50%;
}
#cont img.right {
    margin-left: 20px;
}
#cont img.left {
    margin-right: 20px;
}
.platformbadge {
    display: inline;
    border: none !important;
    vertical-align: -2px !important;
    margin: 0 5px !important;
}
hr {
    clear: both;
    color: brown;
}

h2 {
    margin-top: 10px;
}

.appbtn {
    display: inline-block;
    background: darkred;
    color:yellow;
    padding: 5px;
    text-decoration: none;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: medium;
    border-width: 5px;
    border-style: solid;
    border-color: burlywood black black burlywood;

}
.appbtn:hover, .appbtn:focus {
    background:crimson;
    color:white;
    border-color: white black black white;
}
.appbtn:active {
    background:crimson;
    color:white;
    border-color: black white white black;

}
.pconly {
    display: none;
}

@media only screen and (min-width: 768px) {
    body {
        padding-top: 0;
    }
    h1         { font-size: 48px; }
    h1 span    {
        padding: 0 17px;
    }
    h1::before { transform: scale(-1,1); }
    h1::after  { transform: scale( 1,1); }

    .pconly {
        display: inherit;
    }
    span.pconly {
        display: inline;
    }
    .mobileonly {
        display: none;
    }

    .leftbar {
        max-width: 250px;
        position: unset;
        width: 30%;
        height: unset;
    }
    #nav ul {
        list-style-image: url('assets/icon/arrow.gif');
        margin-left: -10px;
        margin-top: 0;
    }
    #nav li {
        list-style-image: url('assets/icon/arrow.gif');
        float: none;
        white-space: nowrap;
    }
    #nav li.new {
        list-style-image: url('assets/icon/new.gif') !important;
    }

}
@media only screen and (max-width: 480px) {
    #main {
        flex-wrap: wrap;
    }
    .container, #cont {
        width: 100%;
    }

}
